*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ;
    padding: 40px;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
  }

.myName {
    margin-left: 20px;
    font-size: 40px;
}


.nav {
    display: flex;
    justify-content: end;
}

nav a {
    display: inline-block;
    font-size: 25px;
    margin-left: 20px;
}

.profile-picture{
    display: flex;
    max-height: 260px;
    float: left;
    margin-right: 25px;
}

.portfolio-section > .about-me,
.portfolio-section > .work,
.portfolio-section > .contact-me {
    background-color: rgb(185, 185, 238);
    margin-top: 20px;
    position: relative;
    padding: 20px;
}

.portfolio-section > .about-me {
    height: 300px;
}

.portfolio-section > .work {
    height: 500px;
}

.portfolio-section > .contact-me {
    height: 100px;
}

.title-1 {
    position: absolute;
    top: 25px;
    margin-left: 222px;
}

.title-3 {
    position: absolute;
    top: 15px;
}

.contact {
    font-size: 20px;
    display: flex;
    justify-content: end;
    margin-right: 60px;
    text-decoration: underline;
    bottom: 15px;
}

.email {
    margin-right: 40px;
}

.intro {
    margin-top: 60px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.prework,
.landing-page,
.CSS-Snippet-Cheatsheet {
    height: 300px;
    margin: 10px;
}

@media screen and (max-width: 992px) {
    main > .portfolio-section > .about-me,
    main > .portfolio-section > .contact-me {
        height: 125%;
      };
  }
  
@media screen and (max-width: 768px) {
    main > .portfolio-section > .about-me,
    main > .portfolio-section > .contact-me {
      height: 150%;
    }
  }